<p class='boilerplate'>
    {% trans into lang %}In the African Province, pray for the Tertiaries in Kokstad and Durban.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for the Second Order Sisters (Order of St Clare OSC) at Freeland UK.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In New South Wales A Region, pray for{% endtrans %}</p>
<p class='boilerplate'>
  {{ living_members_1 |nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
  <br/>
  {% if "deceased-member"|trans({}, 'messages', lang) != "deceased-member" %}{{ "deceased-member"|trans({}, 'messages', lang) }}<br/>{% endif %}
  {{ deceased_members | nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
</p>
<p class='rubric'>{% trans into lang %}September: The Stigmata of St Francis (Manual F19){% endtrans %}</p>