<p class='boilerplate'>
    {% trans into lang %}In the Province of the Americas, pray for all Tertiaries in Canada and Mexico.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for scholars and writers who seek to make known the ways of Francis and Clare.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In South and East Asia Region, Malaysia area, pray for{% endtrans %}</p>
<p class='boilerplate'>{{ living_members_1 | nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
</p>
<p class='rubric'>{% trans into lang %}In the Hong Kong area, pray for{% endtrans %}</p>
<p class='boilerplate'>{{ living_members_2 | nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
  <br/>
  {% if "deceased-member"|trans({}, 'messages', lang) != "deceased-member" %}{{ "deceased-member"|trans({}, 'messages', lang) }}<br/>{% endif %}
  {{ deceased_members | nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
</p>
<p class='rubric'>{% trans into lang %}May: Jack Winslow (Manual F8){% endtrans %}</p>