<p class='boilerplate'>
  {% trans into lang %}In the Province of the Americas, Region of the Caribbean, pray for Tertiaries in Cuba, Dominican Republic,
  Jamaica, Nevis, Trinidad and Tobago, and Virgin Islands.{% endtrans %}<br/>
  <br/>
    {% trans into lang %}Pray for all Franciscan Conference and Retreat Centres, including the Old Monastery, Stroud.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In Western Australia Region, pray for{% endtrans %}</p>
<p class='boilerplate'>
  {{ living_members_1 |nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
  <br/>
  {% if "deceased-member"|trans({}, 'messages', lang) != "deceased-member" %}{{ "deceased-member"|trans({}, 'messages', lang) }}<br/>{% endif %}
  {{ deceased_members | nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
</p>