<p class='boilerplate'>
    {% trans into lang %}In the Province of the Americas, pray for Tertiaries in Central America: El Salvador, Guatemala, Honduras, and Panama.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for those in churches who while not under formal vows try to follow Jesus in the company of Francis and Clare.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In South and East Asia Region, in South Korea area, pray for{% endtrans %}</p>
<p class='boilerplate'>{{ living_members_1 | nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
</p>
<p class='rubric'>{% trans into lang %}In South and East Asia Region, in Singapore, pray for{% endtrans %}</p>
<p class='boilerplate'>{{ living_members_2 | nl2br }}<br/>
    {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
  <br/>
  {% if "deceased-member"|trans({}, 'messages', lang) != "deceased-member" %}{{ "deceased-member"|trans({}, 'messages', lang) }}<br/>{% endif %}
  {{ deceased_members | nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
</p>