<p class='boilerplate'>{% trans into lang %}Pray for Ministers of the Third Order:{% endtrans %}<br/>
    <br/>
  {% trans into lang %}MINISTER GENERAL{% endtrans %} - Michael Twum-Darko<br/>
    {% trans into lang %}ASSISTANT MINISTER GENERAL{% endtrans %} - Mandy Wheatley<br/>
    <br/>
    {% trans into lang %}PROVINCIAL MINISTERS:{% endtrans %}<br/>
    {% trans into lang %}American Province{% endtrans %}: Charles McCarron<br/>
    {% trans into lang %}African Province{% endtrans %}: Bonginkosi Thomas Buthelezi<br/>
    {% trans into lang %}Asia-Pacific Province{% endtrans %}: Mandy Wheatley<br/>
    {% trans into lang %}European Province{% endtrans %}: Patrick Mossop<br/>
    {% trans into lang %}Pacific Province{% endtrans %}: Peter Bargh</p>
{% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}{% endif %}
<br/>
<p class='boilerplate'>
  {% trans into lang %}Pray for those who have been released from the Third Order in the past year:{% endtrans %} 
    {{ living_members_1 | nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
  <br/>
  {% if "deceased-member"|trans({}, 'messages', lang) != "deceased-member" %}{{ "deceased-member"|trans({}, 'messages', lang) }}<br/>{% endif %}
  {{ deceased_members | nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
</p>