<p class='boilerplate'>
    {% trans into lang %}In the Province of Asia–Pacific, pray for all Tertiaries in the Australia - Queensland A, Queensland B/Northern NSW Regions.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for all Novice Counsellors.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In the Region of Dogura, pray for{% endtrans %}</p>
<p class='boilerplate'>
  {{ living_members_1 |nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
  <br/>
  {% if "deceased-member"|trans({}, 'messages', lang) != "deceased-member" %}{{ "deceased-member"|trans({}, 'messages', lang) }}<br/>{% endif %}
  {{ deceased_members | nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
</p>
<p class='rubric'>{% trans into lang %}September: Brother Douglas (Manual F18){% endtrans %}</p>
