<p class='boilerplate'>
    {% trans into lang %}In the Province of Asia – Pacific, pray for Tertiaries in the Australia - Victoria/Tasmania Region.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for all isolated Tertiaries.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In the Region of Dogura, pray for{% endtrans %}</p>
<p class='boilerplate'>
  {{ living_members_1 |nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
  <br/>
  {% if "deceased-member"|trans({}, 'messages', lang) != "deceased-member" %}{{ "deceased-member"|trans({}, 'messages', lang) }}<br/>{% endif %}
  {{ deceased_members | nl2br }}<br/>
  {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}<br/>{% endif %}
</p>